@page "/transactions"
@page "/"
@using Sbanken.Providers
@using Sbanken.Shared.Constants
@using Hub.Shared.DataContracts.Sbanken
@inject ITransactionProvider _transactionProvider
@inject NavigationManager _uriHelper

<h1>Transactions</h1>

@if (_transactions == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in _transactions)
        {
            <tr @onclick="() => GoToTransaction(transaction.Id)" class="clickable">
                <td>@transaction.TransactionDate.ToShortDateString()</td>
                <td>@transaction.Description</td>
                <td>@transaction.Amount</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IList<TransactionDto> _transactions;

    protected override async Task OnInitializedAsync()
    {
        _transactions = await _transactionProvider.GetTransactions(DateTime.Now.Day, null, AccountNames.BillingAccount);
    }

    private void GoToTransaction(long transactionId)
    {
        _uriHelper.NavigateTo($"transactions/{transactionId}");
    }

}