@using Banking.Web.WebApp.Services.Table
@using Banking.Shared
@using Hub.Shared.DataContracts.Banking.Constants

@inherits TableBaseComponent<Banking.Web.WebApp.Services.Table.AccountTypesQuery> 

<Dialog HeaderText="Savings">
    
    <section class="row">
        <MonthYearSelect SelectWrapperClass="col-sm-12 col-lg-3"/>
    </section>
    
    <GenericTable
        TQuery="AccountTypesQuery"
        Query="Query"
        @ref="TableRef"/>
</Dialog>

@code {
    protected async override Task OnParametersSetAsync()
    {
        Working = true;

        Query.AccountType = AccountTypes.Saving;
        Query.DiscontinuedDate = DateTimeUtils.LastDayOfMonth(State.Year, State.Month);
        Query.BalanceToDate = DateTimeUtils.LastDayOfMonth(State.Year, State.Month);

        await base.OnParametersSetAsync();
        
        Working = false;
    }
}