@page "/"
@page "/index"
@using Hub.Shared.Storage.ServiceBus

@inherits BaseComponent
@implements IDisposable

@inject IMessageSender MessageSender
@inject UIHelpers UiHelpers

<main class="front-page container">
    <div class="row">
        <ExpansionSection>
            <TitleContent>
                <h2 class="fs-4">
                    Actions
                </h2>
            </TitleContent>
            <ExpansionBody>
                <div class="col-12 col-lg-3 mt-lg-0">
                    <MudButton
                        class="w-100"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        @onclick="QueueImportBulderBankTransactions">
                        Import transactions from Bulder Bank
                    </MudButton>
                </div>
            </ExpansionBody>
        </ExpansionSection>
    </div>
    <div class="row mt-0 mt-lg-3">
        <ExpansionSection>
            <TitleContent>
                <h2 class="fs-4">
                    Filters
                </h2>
            </TitleContent>
            <ExpansionBody>
                <div class="col-sm-12 col-lg-3 mt-2 mt-lg-0">
                    <BanksSelect/>
                </div>
                <div class="col-sm-12 col-lg-3 mt-2 mt-lg-0">
                    <AccountsSelect/>
                </div>
                <MonthYearSelect SelectWrapperClass="col-sm-12 col-lg-3 mt-2 mt-lg-0"/>
            </ExpansionBody>
        </ExpansionSection>
    </div>

    <div class="row">
        <div class="col-lg-4 col-12 mt-2 mt-lg-4">
            <InvestmentsWidget/>
        </div>
        <div class="col-lg-4 col-12 mt-4">
            <SavingsWidget/>
        </div>
        <div class="col-lg-4 col-12 mt-4">
            <BillingWidget/>
        </div>
        <div class="col-lg-6 col-sm-12 mt-4">
            <Widget>
                <TransactionsTable
                    Widget="true"
                    Take="5"/>
            </Widget>
        </div>
        <div class="col-lg-6 col-sm-12 mt-4">
            <Widget>
                <AccountsTable
                    Widget="true"
                    Take="5"/>
            </Widget>
        </div>
        <div class="col-lg-6 col-sm-12 mt-4">
            <Widget>
                <TransactionCategoriesTable
                    Widget="true"
                    Take="5"/>
            </Widget>
        </div>
        <div class="col-lg-6 col-sm-12 mt-4">
            <Widget>
                <ScheduledTransactionsTable
                    Widget="true"
                    Take="5"/>
            </Widget>
        </div>
    </div>
</main>

@code {
    
    protected override async Task OnInitializedAsync()
    {
        Working = true;
        
        await State.InitState();

        State.OnStateUpdated += OnStateChanged;

        await InvokeAsync(StateHasChanged);

        Working = false;
    }

    private async void OnStateChanged(object o, EventArgs eventArgs)
    {
        await InvokeAsync(StateHasChanged);
    }

    private void QueueImportBulderBankTransactions()
    {
        MessageSender.AddToQueue(QueueNames.UpdateBulderBankTransactions);

        UiHelpers.ShowSnackbar("Queued message for importing transactions from CSV-file(s)", Severity.Success);
    }
    
    public void Dispose()
    {
        State.OnStateUpdated -= OnStateChanged;
    }
}