@page "/"

@inherits Base

<main class="container mt-3">
    <div class="row">
        <div class="col-lg-6 col-sm-12" >
            <AccountsTable 
                Take="5" 
                WidgetMode="@true" 
                class="widget"
                />
        </div>
        <div class="col-lg-6 col-sm-12" >
            <TransactionsTable 
                Take="5" 
                WidgetMode="@true"
                class="widget"
                />
        </div>
    </div>
</main>