@using MudBlazor.Utilities

@inherits LayoutComponentBase

<PageTitle>Banking</PageTitle>

<div class="page">
    <MudLayout>
        <MudMainContent>
            <MudContainer>
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

<MudThemeProvider
    IsDarkMode="true"
    Theme="Theme"/>
<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.Large"
    CloseButton="true"
    Position="DialogPosition.TopCenter"/>
<MudSnackbarProvider />

@code {
    public MudTheme Theme = new()
    { 
        Palette = new Palette
        {
            Primary = new MudColor("#045D56"),
        } 
    };

}