td:nth-child(1),
th:nth-child(1) {
  width: 25%;
}

th:nth-child(1) {
  padding-left: 35px;
}

td:nth-child(2),
th:nth-child(2)  {
  width: 50%;
}

td:nth-child(3),
th:nth-child(3)  {
  width: 25%;
}

table {
  min-width: 400px;
  max-width: 600px;
}