@inherits BillingBaseComponent

@inject UIService UiService

<Widget OnClick="OpenBillingOverview">
    <MudText class="fs-5">Bills to pay</MudText>
    @if (Working)
    {
        <MudSkeleton/>
    }
    else
    {
        <section>
            <MudText class="fs-3">kr @((-UpcomingBillsAmount).ToString("N2"))</MudText>
            <MudText class="" Color="@(BillingAccountsBalance >= (-UpcomingBillsAmount) ? Color.Success : Color.Error)">
                kr @(BillingAccountsBalance.ToString("N2")) available
            </MudText>
            <MudText class="">
                kr @((-PaidBillsAmount).ToString("N2")) paid
            </MudText>
        </section>
    }
</Widget>

@code {
    private async Task OpenBillingOverview()
    {
        await UiService.ShowDialog<BillingOverviewDialog>();
    }
}