@using Hub.Shared.DataContracts.Banking.Dto

@inherits Base

<section class="card mt-5 mb-5">
    <div class="card-body">
        <div class="row mt-3">
            <div class="col-2 py-1">
                <label>Account type: </label>
            </div>
            <div class="col-4">
                <p>@Account.AccountType</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2">
                <label>
                    Bank:
                </label>
            </div>
            <div class="col-6">
                <p>@Account.Bank</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-2">
                <label>
                    Balance:
                </label>
            </div>
            <div class="col-6">
                <p>@Account.Balance</p>
            </div>
        </div>
    </div>
</section>
    

@code {
    [Parameter]
    public AccountDto Account { get; set; }
}