@using Banking.Services
@using Microsoft.AspNetCore.Components
@using Hub.Shared.DataContracts.Banking.Constants
@using Hub.Shared.DataContracts.Banking.Dto

@inject IAccountService _accountService

@inherits Base

<section class="card mt-5 mb-5">
    <div class="card-body">
        <EditForm Model="@Account" OnValidSubmit="@Save">
            <div class="row mt-3">
                <div class="col-2 py-1">
                    <label>
                        Name:
                    </label>
                </div>
                <div class="col-6">
                    <InputText
                        class="form-control"
                        id="name"
                        @bind-Value="Account.Name"/>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2 py-1">
                    <label>Account type: </label>
                </div>
                <div class="col-6">
                    <InputSelect
                        class="form-control"
                        id="account-type"
                        @bind-Value="Account.AccountType">
                        @foreach (var accountType in AccountTypes.ToArray)
                        {
                            <option value="@accountType">@accountType</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    <label>
                        Bank:
                    </label>
                </div>
                <div class="col-6">
                    <InputText
                        class="form-control"
                        id="bank"
                        @bind-Value="Account.Bank"/>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-2">
                    <label>
                        Balance:
                    </label>
                </div>
                <div class="col-6">
                    <InputNumber
                        class="form-control"
                        id="balance"
                        @bind-Value="Account.Balance"/>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </EditForm>
    </div>
</section>

@code {
    [Parameter]
    public AccountDto Account { get; set; }
    
    [Parameter]
    public EventCallback OnSave { get; set; }
    
    private async Task Save()
    {
        await _accountService.UpdateAccount(Account);

        await OnSave.InvokeAsync();
    }
}