.table-widget td:nth-child(1),
.table-widget th:nth-child(1) {
  width: 50%;
}

.table-widget td:nth-child(2),
.table-widget th:nth-child(2)  {
  width: 50%;
}

.table-full-size {
  min-width: 400px;
}

.table-full-size td:nth-child(1),
.table-full-size th:nth-child(1) {
  width: 30%;
}

.table-full-size td:nth-child(2),
.table-full-size th:nth-child(2) {
  width: 15%;
}

.table-full-size td:nth-child(3),
.table-full-size th:nth-child(3) {
  width: 30%;
}

.table-full-size td:nth-child(4),
.table-full-size th:nth-child(4) {
  width: 35%;
}
