@inherits BankingBaseComponent

@inject UIService UiService

<Widget>
    <section class="row">
        <div class="col-12 mt-2">
            <header
                class="clickable ms-3 float-start"
                @onclick="OpenFullVersion">
                <MudIcon class="me-2 mb-2" Icon="@IconUtils.AccountIcon" Color="Color.Default"/>
                <h2 class="d-inline-block fs-4">Accounts</h2>
            </header>
            <MudIconButton
                Icon="@Icons.Filled.Add"
                class="float-end"
                Style="bottom: 10px"
                OnClick="Add"/>
        </div>
    </section>

    <AccountsTable
        Widget="true"
        Take="5"/>
</Widget>

@code {

    private async Task Add()
    {
        var parameters = new DialogParameters
        {
            { nameof(AddAccountDialog.OnAccountAdded), OnItemAdded }
        };

        await UiService.ShowDialog<AddAccountDialog>(parameters);
    }

    private static Task OnItemAdded(UIService uiService, long id)
    {
        uiService.ShowSnackbar("Account added", Severity.Success);

        return Task.CompletedTask;
    }

    private async Task OpenFullVersion()
    {
        await UiService.ShowDialog<AccountsOverviewDialog>();
    }

}